*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
*.keystore

# Build dosyaları
app/build/
build/
*.aab
*.apk
*.ap_
*.dex
*.class
app/release/
app/debug/
app/build/intermediates/
app/build/outputs/
*.hprof
mapping.txt 