*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
*.keystore

# Build dosyaları
app/build/
build/
*.aab
*.apk
*.ap_
*.dex
*.class
app/release/
app/debug/
app/build/intermediates/
app/build/outputs/
*.hprof
mapping.txt

# Gizli dosyalar
*.properties
!gradle-wrapper.properties
google-services.json
keystore.properties

# IDE dosyaları
*.log
.navigation/
captures/
output.json

# OS dosyaları
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 